.title {
  display: inline-block;
  position: relative;
  font: 700 26px/38px $main-font;
  margin-top: 0;
  margin-bottom: 20px;
  color: #25292e;



  &--white {
    color: $white;
  }

  &--line {

    @include media-breakpoint-up(xl) {
      &::before {
        content: "";
        position: absolute;
        left: -62px;
        top: 28px;
        width: 41px;
        height: 3px;
        background-color: $color-warning;
      }
    }
  }

  @media(min-width: $screen-lg) {
    font-size: 38px;
    line-height: 58px;
    // letter-spacing: 0.9px;
  }
}
