* {
  box-sizing: border-box;
}

body {
  font: 400 $fz $main-font;
  line-height: 26px;
  color: $text-color;
}

a {
  cursor: pointer;
  transition: $time;

  &:hover {
    text-decoration: none;
  }
}

button {
  transition: $time;
  cursor: pointer;
}

img {
  max-width: 100%;
}
