// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               rem(3px) !default;
$gradient-warning:            linear-gradient(-28deg, #bb9968 0%, #bb9968 1%, #e6b980 100%), linear-gradient(to top, #f9d219 0%, #fba51d 100%);

.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 15px 34px 13px;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: 10px;
  border: none;
  background-color: $gray-300;
  // background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:visited {
    color: $text-color;
  }

  &--disabled,
  &:disabled {
    // opacity: 0.6;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-300;
    // border-color: $gray-lighter;
  }


  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &--warning {
    color: $white;
    background-image: $gradient-warning;
  }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
