.modal {
  // max-width: 405px;
}

.modal__header {
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 9px;
  right: 9px;
  margin: 0;
  width: 13px;
  height: 13px;
  border: none;
  background: transparent url("../img/icon/icon-close.svg") no-repeat center;
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  color: #272d34;
  margin-bottom: 44px;
}

.modal-dialog {
  @include media-breakpoint-up(lg) {
    max-width: 405px;
  }
}

.modal__content {
  position: relative;
  width: 100%;
  background: $white;
  border-radius: 5px;
  pointer-events: auto;
  padding: 47px 52px 31px;
}

.modal__field {
  margin-bottom: 22px;
}

.modal__btn {
  width: 100%;
  margin-bottom: 19px;
}

.modal__checkbox {
  font-size: 12px;
  font-weight: 300;
  color: #7c869c;
  padding-left: 19px;
  margin-bottom: 15px;
}
