mixin modal-phone()
  section.modal-phone
    button.modal-phone__close(aria-label="Закрыть окно контактов")
    h2.modal-phone__title Контакты
    a.modal-phone__link(href="tel:+7(917)754-38-83") +7 (917) 754-38-83
    a.modal-phone__link(href="tel:+7(964)951-45-13") +7 (964) 951-45-13
    a.modal-phone__link(href="mailto:info@parafin-vosk.ru") info@parafin-vosk.ru
