.form {
  // display: flex;
}

.form__row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 28px;

  &--center {
    align-items: center;
  }
}

.form__field-width {
  max-width: 287px;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 0;
}

.form__fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.form__field {
  margin-bottom: 15px;
}

.form__btn-cb {
  width: 100%;
  margin-bottom: 15px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
}

.form__legend {
  display: block;
  width: 100%;
  max-width: 100%; // Привет IE
  margin-top: 1rem;
  margin-bottom: 1rem;
  // font-size: $font-size--h3;
  // font-family: $font-family--headings;
  font-weight: 700;
  // line-height: $line-height;
  white-space: normal; // Привет IE
  color: currentColor;
}
