include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/menu/menu.pug
include ../blocks/project/callback/callback.pug
include ../blocks/project/developer/developer.pug
include ../blocks/project/modal-phone/modal-phone.pug
include ../blocks/companents/pagination/pagination.pug
include ../blocks/companents/breadcrumbs/breadcrumbs.pug
include ../blocks/companents/table/table.pug
