// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.pagination__item {
  display: block;
  padding: 3px;
  min-width: 34px;
  border-radius: 5px;
  border: 1px solid #777777;
  text-decoration: none;
  text-align: center;
  color: #777777;
  margin: 4px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
  }

  &--active {
    color: $white;
    border: 1px solid #e0b47c;
    background: linear-gradient(-28deg, #bb9968 0%, #bb9968 1%, #e6b980 100%);
  }

  &--arrow-prev {
    border: 1px solid #e0b47c;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image:
      url("../img/icon/icon-arrow-prev.svg"),
      linear-gradient(-28deg, #bb9968 0%, #bb9968 1%, #e6b980 100%);
  }

  &--arrow-next {
    border: 1px solid #e0b47c;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image:
      url("../img/icon/icon-arrow-next.svg"),
      linear-gradient(-28deg, #bb9968 0%, #bb9968 1%, #e6b980 100%);
  }

  @include media-breakpoint-up(sm) {
    margin: 5px 14px;
  }
}
