.contact-header {
  // position: relative;
  text-align: right;
  // margin-left: auto;
  // z-index: 1;
  margin-top: 9px;
}

.contact-header__list {
  @include ul-none();
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.contact-header__item {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1px;
    height: 27px;
    transform: rotate(18deg);
    margin-right: 16px;
    margin-left: 17px;
    background: #919eaf;
  }

  &:last-child::after {
    display: none;
  }
}

.contact-header__tel {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: $white;

  &--black {
    color: $black;
  }

  @media(min-width: $screen-sm) {
    font-size: 16px;
  }
}

.contact-header__email {
  display: block;
  font-size: 9px;
  line-height: 16px;
  font-weight: 300;
  color: #ccd6e4;
  text-decoration: none;

  @media(min-width: $screen-sm) {
    font-size: 14px;
    font-weight: 300;
  }
}
