mixin menu()
  .menu
    .menu__line
      section.container.menu__row
        button.menu__close(aria-label="Закрытие меню")
        h2.title.menu__title Каталог продукции
    .container.menu__container
      nav.menu__navigation
        ul.menu__navigation-list
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="category.html") Название категории
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="single.html").menu__navigation-link Технический парафин «Т-2»
