.page-header {
  padding-top: 32px;
  padding-bottom: 126px;
  margin-left: -100px;
  margin-right: -100px;
}

.page-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &--ident {
    padding-bottom: 35px;
  }

  @media(min-width: $screen-md) {
    // align-items: center;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__logo {
  align-self: center;
  // display: block;
  // max-width: 100px;

  // @media(min-width: $screen-sm) {
  //   max-width: 100%;
  //   margin-right: 70px;
  // }
}

.page-header__btn {
  position: relative;
  font-size: 0;
  padding: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  border: none;
  margin-left: 20px;
  order: 3;

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 24px;
  //   height: 24px;
  //   background: url("../img/sprite/menu-white.svg") no-repeat center / contain;
  // }

  @media(min-width: $screen-md) {
    width: auto;
    height: auto;
    order: 0;
    margin-left: 0;
    margin-right: 13px;
    font-size: 14px;
    padding: 5.5px 17px 8.5px 48px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #dbb17a;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 47%;
      left: 16px;
      width: 15px;
      height: 1px;
      background: $color-warning;
      box-shadow: 0 4px 0 0 $color-warning, 0 -4px 0 0 $color-warning;
    }
  }
}

// .page-header__navigation {
//   display: flex;
//   align-items: center;
// }

.page-header__list-nav {
  @include ul-none();
  display: none;

  @media(min-width: $screen-lg) {
    display: flex;
  }
}

.page-header__list-link {
  color: $white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 18px;
}
