mixin page-header(mod)
  .page-header(class= mod)
    .page-header__nav
      button.page-header__btn Каталог продукции
      ul.page-header__list-nav
        li.page-header__list-item
          a.page-header__list-link(href="#about") О компании
        li.page-header__list-item
          a.page-header__list-link(href="#contact") Контакты
    a.logo.page-header__logo(href="index.html") ООО «ПВ ТОРГ»
    .contact-header
      ul.contact-header__list
        li.contact-header__item
          a.contact-header__tel(href="tel:+7(917)754-38-83") +7 (917) 754-38-83
        li.contact-header__item
          a.contact-header__tel(href="tel:+7(964)951-45-13") +7 (964) 951-45-13
      a.contact-header__email(href="mailto:info@parafin-vosk.ru") info@parafin-vosk.ru


