// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {

  $block-name:                &;
  // #{$block-name}__element

  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 40px;
  color: $text-color;

  a {
    font-size: 14px;
    color: $text-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #e1b57d;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 2px;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 2px;
      color: $gray;
    }

    span {
      color: #b8b8b8;
    }
  }
}
