extends pug/layout.pug

block meta
  title Главная
block header
  .fullpage
    +menu()
    .container.fullpage__container
      +page-header()
      section.main-block
        h1.main-block__title Прямой поставщик
        p.main-block__tagline Технического парафина &laquo;Т-2&raquo; и&nbsp;защитного воска &laquo;ЗВ-П&raquo; с&nbsp;завода-производителя
        form.form-callback
          label.form-doc.form-doc--tel.form-callback__mb-tel
            input.form-doc__input(type="tel" name="tel" placeholder="+7 (___) ___ - __ - __" required="")
          button.btn.btn--warning.form-callback__btn Обсудить заказ
          label.form-checkbox
            input(type="checkbox" required="" checked)
            span.form-checkbox__check(aria-label="Согласие на обработку данных")
            span.form-checkbox__text Я&nbsp;даю свое согласие на&nbsp;обработку персональных данных
block content
  main
block footer
  +page-footer()
