.price-list {
  position: relative;
  margin-top: 40px;

  @include media-breakpoint-up(xl) {
    margin-top: 0;
  }
}

.price-list__btn {
  position: relative;
  right: 0;
  padding: 12px 19px 13px 51px;
  font-size: 18px;
  font-weight: 700;
  color: $white;

  &::after {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 20px;
    background: url("../img/icon/icon-download.svg") no-repeat center / contain;
  }

  @include media-breakpoint-up(xl) {
    position: absolute;
    bottom: 58px;
  }
}

.price-list__img {
  display: block;

  @include media-breakpoint-up(xl) {
    margin-left: auto;
    margin-top: -26px;
  }
}
