.fullpage {
  background-image:
    url("../img/decor/bg-fullpage.jpg"),
    linear-gradient(-66deg, #687e9f 0%, #687e9f 1%, #23272c 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 81px;

  @media(min-width: $screen-xl) {
    min-height: 800px;
    // height: 100vh;
  }

  &--img-none {
    background-image: linear-gradient(-66deg, #687e9f 0%, #687e9f 1%, #23272c 100%);

    @media(min-width: $screen-xl) {
       min-height: auto;
    }
  }

  &--none {
    background: #23272c;
    padding: 0;
    margin-bottom: 39px;

    @media(min-width: $screen-xl) {
      min-height: auto;
    }
  }
}

.fullpage__container {
  position: relative;
  height: 100%;
}

.fullpage__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
